!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title Binary Clock
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "css/reset.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    %input{:type => "color", :value => "#FFFFFF"}/
    .container
    	.column
		-4.times do
			.dot
	.column
		-4.times do
			.dot
	.column
		-4.times do
			.dot
	.column
		-4.times do
			.dot
	.column
		-4.times do
			.dot
	.column
		-4.times do
			.dot
    %script{:src => "js/script.js"}


