.container
	.hourOne{:'data-tid' => 0}
		-4.times do
			.dot.one
	.hourTwo{:'data-tid' => 0}
		-4.times do
			.dot.one
	.minOne{:'data-tid' => 1}
		-4.times do
			.dot.one
	.minTwo{:'data-tid' => 1}
		-4.times do
			.dot.one
	.secOne{:'data-tid' => 2}
		-4.times do
			.dot.one
	.secTwo{:'data-tid' => 2}
		-4.times do
			.dot.one
