!!!
%html
  %head
    %meta{:charset => "UTF-8"}/
    %title Binary Clock
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{:href => "css/reset.css", :rel => "stylesheet"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    %input{:type => "color", :value => "#FFFFFF"}/
    .container
    	.hourOne{:'data-tid' => 0}
		-4.times do
			.dot.one
	.hourTwo{:'data-tid' => 0}
		-4.times do
			.dot.one
	.minOne{:'data-tid' => 1}
		-4.times do
			.dot.one
	.minTwo{:'data-tid' => 1}
		-4.times do
			.dot.one
	.secOne{:'data-tid' => 2}
		-4.times do
			.dot.one
	.secTwo{:'data-tid' => 2}
		-4.times do
			.dot.one
    %script{:src => "js/script.js"}


